@{
    ViewData["Title"] = "Home Page";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--A home page containing the title “The Joel Hilton Film Collection” and the
only image I could find of him on the Internet:-->
<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
</div>
<img src="~/lib/joelhiltonheadshot (1).jpg" />