@{
    ViewData["Title"] = "Get to know Joel";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--A separate “Get to Know Joel” page with:-->
<h1>Get to Know Joel</h1>

<p>Here are Joel's links</p>
 
<!--A link to Quick Wits Comedy (where he performs regularly):-->
<a href="https://www.qwcomedy.com/" target="_blank">Visit QW Comedy</a>
<br />

<!--A link to the Baconsale site:-->
<a href="https://baconsale.com/" target="_blank">Visit Baconsale Site</a>

<br /> 
<!--This photo that also links to the Baconsale site when clicked:-->
<a href="https://baconsale.com/" target="_blank">
    <img height = 300 src="~/baconsalekate.jpg" alt="baconSale" />
</a>