@model Movie
@{
    ViewData["Title"] = "Movies";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--
    One last page with a form to enter movies into the collection. The new movie
form should allow to enter all the information currently contained in the
spreadsheet linked above.-->


<h1> Enter Movies into the Collection ! Yeet </h1>
<form method ="post"> 

    <input type="hidden" asp-for="MovieId" />

    <label asp-for="CategoryId">Category: </label>
    <input asp-for="CategoryId" />
    <br />
    <label asp-for="Title">Title: </label>
    <input asp-for="Title"/>
    <br />
    <label asp-for="Year">Year: </label>
    <input asp-for="Year"/>
    <br />
    <label asp-for="Director">Director: </label>
    <input asp-for="Director"/>
    <br />

    <!-- For the Rating field, use a dropdown menu (G, PG, PG-13, R)-->
    <label asp-for="Rating">Rating: </label>
    <select asp-for="Rating"> 
        <option value="">select a rating</option>
        <option value="G">G</option>
        <option value="PG">PG</option>
        <option value="PG-13">PG-13</option>
        <option value="R">R</option>
    </select>
    <br />
    <br />

    <!--The “Edited”, “Lent To”, and “Notes” are not required to create a new
    record. All other fields must be entered.-->
    <!-- NOT REQUIRED FIELDS -->
    <!--For the Edited field, we want that to be a yes/no (true/false) option.-->
    <label asp-for="Edited">Edited? </label>
    <select asp-for="Edited">
        <option value ="true">Yes</option>
        <option value="false">No</option>
    </select>

    <br />
    <label asp-for="LentTo">Lent: </label>
    <input asp-for="LentTo" />
    <br />

    <!--this is probably wrong, DB says int, but I'm treating it as bool-->
    <label asp-for="CopiedToPlex">Copied to Plex? </label>
    <select asp-for="CopiedToPlex">
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select>

    <!-- Notes should be limited to 25 characters.-->
    <label asp-for="Notes">Notes: </label>
    <input asp-for="Notes"/>
    <br />

    <button type="submit">Submit Movie</button>

    <div asp-validation-summary="All"></div>
</form>